/* Latest Work
---------------------------------*/


#work_outer{
	background:#f9f9f9;
	padding:70px 0px;
	position:relative;
	}


.top_cont_latest{
	background:url(../../img/dashboard_pic.png) no-repeat right bottom;
}

.work_pic{
	position:absolute;
	right:0;
	top:25%;
	width:50%;
}

.work_section {
	padding:110px 0 20px;
}


.service-list{
	padding:0 0 0 0;
	font-size:14px;
	margin-bottom:40px;
}
.service-list-col1{
	float:left;
	width:60px;
	text-align:center;
}
.service-list-col1 i{
	color:#888;
	font-family: 'linecons';
	font-size: 19px;
    font-style: normal;
    line-height: 20px;
}
.service-list-col2{
	overflow:hidden;
}
.main-section.alabaster{
	background:#fafafa;
}

.work_bottom{
	padding:20px 0 0 60px;
	}


.work_bottom span{
	font-size:18px;
	color:#333333;
	display:block;
	margin:0 0 20px 0;
	}

.contact_btn{
	background:#f56eab;
	text-transform:uppercase;
	display:block;
	width:176px;
	height:49px;
	text-align:center;
	line-height:49px;
	font-size:16px;
	color:#ffffff;
	border-radius:3px;
	font-family:'Dosis';
	font-weight: 600;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	}
.contact_btn:hover{
	background:#222222;
	}
